
.header-menu{
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin-right: 40px;
}

li {
  color: black;
  margin: 10px;
  text-decoration: none;
}

a { 
  /* text-decoration: none; */
}